{% extends "layout.html" %}
{% block content %}
{% include "header.html" %}

<div class="container">
  <br>
  <div class="row justify-content-center">   
      <div class="g-signin2" id="signinButton"></div> 

    <div id="result"></div> 
  </div>
  <br>
  <div class="row justify-content-center">
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.3&appId=331166431157167&autoLogAppEvents=1"></script>
  </div>
</div>



<!--FACEBOOK SIGN IN -->
<script>
  window.fbAsyncInit = function() {
  FB.init({
    appId      : '331166431157167',
    cookie     : true,  // enable cookies to allow the server to access 
                        // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.2' // use version 2.2
  });
  };
  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
  // Here we run a very simple test of the Graph API after login is
  // successful.  See statusChangeCallback() for when this call is made.
  function sendTokenToServer() {
    var access_token = FB.getAuthResponse()['accessToken'];
    console.log(access_token)
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
      console.log('Successful login for: ' + response.name);
     $.ajax({
      type: 'POST',
      url: '/fbconnect?state={{STATE}}',
      processData: false,
      data: access_token,
      contentType: 'application/octet-stream; charset=utf-8',
      success: function(result) {
        // Handle or verify the server response if necessary.
        if (result) {
          $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
         setTimeout(function() {
          window.location.href = "/restaurant";
         }, 4000);
          
      } else {
        $('#result').html('Failed to make a server-side call. Check your configuration and console.');
         }
      }
      
  });
    });
  }
</script>



<!--END FACEBOOK SIGN IN -->

<script>
    $('#signinButton').click(function() {
      function signInCallback(authResult){
        if (authResult['code']){
          $('#signinButton').attr('style', 'display: none');
          $.ajax({
            type: 'POST',
            url: '/gconnect?state={{STATE}}',
            headers: {
            'X-Requested-With': 'XMLHttpRequest'
            },
            contentType: 'application/octet-stream; charset=utf-8',
            success:function(result){
              $('#result').html('<h1>Login Successful!</h1></br>'+ result + '</br><h1>Redirecting...</h1>')
                   setTimeout(function() {
                    window.location.href = "/";
                   }, 2000);
            },
            processData:false,
            data:authResult['code']
          });
        } else{
          // handle error
          console.log('There was an error: ' + authResult['error']);
          $('#result').html('Failed to make a server-side call. Check your configuration and console.');
        }
      }
      auth2.grantOfflineAccess().then(signInCallback);
    });
  </script>
  
{% endblock %}