<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/Article">
<head>
  <title>Sports Goods Catalog App</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-signin-client_id" content="318553310187-t00daepbtu3jtc8dvvjvan1vn318eejs.apps.googleusercontent.com">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://apis.google.com/js/platform.js?onload=start" async defer></script>
  <script>
    function start() {
      gapi.load('auth2', function() {
        auth2 = gapi.auth2.init({
          client_id: '318553310187-t00daepbtu3jtc8dvvjvan1vn318eejs.apps.googleusercontent.com'
        });
      });
    }
  </script>
  <script>
      $('.alert').alert()
  </script>
  <script>
    function signOut() {
      var auth2 = gapi.auth2.getAuthInstance();
      auth2.signOut().then(function () {
        console.log('User signed out.');
      });
    }
  </script>
</head>
<body>      
		<div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                {% if 'username' in session %}
                    {% if message == 'We are unable to process your request right now. Please try again later.' %}
                        <div class="alert alert-danger alert-dismissible fade show mb-0 text-center" role="alert">
                    {% elif message == 'The entered category already exists.' %}
                        <div class="alert alert-warning alert-dismissible fade show mb-0 text-center" role="alert">
                    {% elif message == 'We are unable to process your request right now.' %}
                        <div class="alert alert-warning alert-dismissible fade show mb-0 text-center" role="alert">
                    {% elif message == 'Please log in to continue.' %}
                        <div class="alert alert-danger alert-dismissible fade show mb-0 text-center" role="alert">
                    {% elif message == 'You were not authorised to access that page.' %}
                        <div class="alert alert-danger alert-dismissible fade show mb-0 text-center" role="alert">
                    {% elif message == 'The item already exists in the database!' %}
                        <div class="alert alert-warning alert-dismissible fade show mb-0 text-center" role="alert">
                    {% else %}
                        <div class="alert alert-success alert-dismissible fade show mb-0 text-center" role="alert">
                    {% endif %}
                {% elif (message == 'You have been successfully logged out!') %}
                    <div class="alert alert-success alert-dismissible fade show mb-0 text-center" role="alert">
                {% else %}
                    <div class="alert alert-danger alert-dismissible fade show mb-0 text-center" role="alert">
                {% endif %}
                
                {{ message }}
            
            {% endfor %}  
                    </div>
        {% endif %}
        {% endwith %}
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
