{% extends "layout.html" %}
{% block content %}
{% include "header.html" %}
<br>
<a href = "{{url_for('homePage')}}">
        <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Disabled tooltip">
            <button class="btn btn-primary" style="pointer-events: none;" type="button" disabled> <i class="fa fa-chevron-circle-left"> Back</i></button>
        </span>
</a>

<h1>New Category: </h1>

<form action="{{url_for('newCategory')}}" method = 'POST' class="was-validated">

    <div class="mb-3">
        <label for="validationDefault01">Category name:</label>
        <input type="text" class="form-control" id="validationDefault01" placeholder="Item name" name='category-name' required>        
    </div>
    <button class="btn btn-primary" type="submit">Create Category</button>
</form>
{% endblock %}